composer.lock
/reactjs/node_modules/
/reactjs/vendor/
/reactjs/logs/
/reactjs/reports/
/assets/js/editor.blocks.js
assets/js/editor.blocks.js
/assets/js/editor.blocks.min.js
assets/js/editor.blocks.min.js

# You want to have .DS_Store and other environment files/packages in your .gitignore_global configuration.
# @see https://knowthecode.io/labs/local-development-environment-setup-mac/install-configure-git
# I'll include it here to help out.
.DS_Store
.DS_Store?
