.wp-block-ultimate-post-post-grid-6 {
    .ultp-block-row {
        grid-template-columns: 50% 1fr 1fr;
        &.ultp-layout1 {
            .ultp-block-item {
                &:first-child {
                    grid-column-start: 1;
                    grid-row-start: 1;
                    grid-row-end: 3;
                    .ultp-block-content-overlay {
                        height: 100%;
                    }
                }
            }
        }
        &.ultp-layout2 {
            grid-template-columns: 1fr 40% 1fr;
            .ultp-block-item {
                &:first-child {
                    grid-column-start: 2;
                    grid-row-start: 1;
                    grid-row-end: 3;
                    .ultp-block-content-overlay {
                        height: 100%;
                    }
                }
            }
        }
        &.ultp-block-content-true.ultp-layout1 {
            grid-template-columns: 1fr 1fr 50%;
            .ultp-block-item {
                &:first-child {
                    grid-column-start: 3;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
            }
        }
        &.ultp-block-content-true.ultp-layout2 {
            grid-template-columns: 1fr 1fr 50%;
            .ultp-block-item {
                &:first-child {
                    grid-column-start: 3;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .wp-block-ultimate-post-post-grid-6 {
        .ultp-block-row {
            &.ultp-layout1,
            &.ultp-layout2,
            &.ultp-block-content-true.ultp-layout1,
            &.ultp-block-content-true.ultp-layout2 {
                grid-template-columns: 1fr 1fr;
                .ultp-block-item {
                    &:first-child {
                        height: 100%;
                        min-height: 100% !important;
                        grid-column-start: initial;
                        grid-row-start: initial;
                        grid-row-end: initial;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .wp-block-ultimate-post-post-grid-6 {
        .ultp-block-row {
            &.ultp-layout1,
            &.ultp-layout2,
            &.ultp-block-content-true.ultp-layout1,
            &.ultp-block-content-true.ultp-layout2 {
                grid-template-columns: 1fr;
                .ultp-block-item {
                    &:first-child {
                        grid-column-start: initial;
                        grid-row-start: initial;
                        grid-row-end: initial;
                    }
                }
            }
        }
    }
}
