@media (min-width: 992px) {
    .ultp-block-column-1 .ultp-block-item:last-child,
    .ultp-block-column-2 .ultp-block-item:nth-last-child(-n+2),
    .ultp-block-column-3 .ultp-block-item:nth-last-child(-n+3),
    .ultp-block-column-4 .ultp-block-item:nth-last-child(-n+4),
    .ultp-block-column-5 .ultp-block-item:nth-last-child(-n+5),
    .ultp-block-column-6 .ultp-block-item:nth-last-child(-n+6),
    .ultp-block-column-7 .ultp-block-item:nth-last-child(-n+7){
        border: none !important;
        padding-bottom: 0 !important;
    }
}

.wp-block-ultimate-post-post-grid-1 {
    .ultp-layout2 {
        .ultp-block-content {
            padding: 20px;
            position: relative;
        }
        .ultp-block-content-wrap {
            height: 100%;
            position: relative;
            .ultp-block-content-image {
                position: absolute;
                content: "";
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: center top;
                background-size: cover;
                background-color: rgba(0,0,0,0.2);
                z-index: 0;
                opacity: 0;
                transition: 400ms;
                &:before {
                    position: absolute;
                    content: "";
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.5);
                    transition: 400ms;
                }
            }
            &:hover {
                .ultp-block-content-image {
                    opacity: 1;
                } 
                .ultp-block-excerpt,
                .ultp-block-content .ultp-block-title a,
                .ultp-block-meta span,
                .ultp-block-meta span a,
                .ultp-block-readmore a {
                    color: #fff;
                }
                .ultp-block-meta span svg,
                .ultp-block-readmore a svg {
                    fill: #fff;
                }
            }
        }
    }
    .ultp-layout3,
    .ultp-layout4,
    .ultp-layout5 {
        .ultp-block-content-wrap {
            .ultp-block-content {
                margin: -110px auto 0;
                max-width: 85%;
                background: #fff;
                z-index: 1;
                position: relative;
                .ultp-category-grid {
                    display: inline-block;
                }
            }
        }
    }
    .ultp-layout4 {
        .ultp-block-content-wrap {
            clear: both;
            .ultp-block-content {
                float: left;
            }
        }
    }
    .ultp-layout5 {
        .ultp-block-content-wrap {
            clear: both;
            .ultp-block-content {
                float: right;
            }
        }
    }
    .ultp-layout3 {
        .ultp-block-content {
            padding: 0 20px;
        }
    }
}

.ultp-lazy {
    opacity: 0.5;
    background-color: #eeeeee;
    -webkit-animation: loadingffect 0.5s linear alternate 100;
    animation: loadingffect 0.5s linear alternate 100;
}
@-webkit-keyframes loadingffect {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes loadingffect {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }